@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@700&family=Courgette&family=Kdam+Thmor+Pro&family=Koulen&family=Lato&family=Merriweather:wght@300;700&family=Oswald&family=Overpass:wght@300&family=PT+Sans+Narrow&family=PT+Serif:ital@1&family=Pacifico&family=Roboto+Condensed:wght@300&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@700&family=Courgette&family=Kdam+Thmor+Pro&family=Koulen&family=Lato&family=Merriweather:wght@300;700&family=Nuosu+SIL&family=Oswald&family=Overpass:wght@300&family=PT+Sans+Narrow&family=PT+Serif:ital@1&family=Pacifico&family=Roboto+Condensed:wght@300&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@700&family=Courgette&family=Kdam+Thmor+Pro&family=Koulen&family=Lato&family=Merriweather:wght@300;700&family=Nuosu+SIL&family=Oswald&family=Overpass:wght@300&family=PT+Sans+Narrow&family=PT+Serif:ital@1&family=Pacifico&family=Roboto+Condensed:wght@300&family=Roboto+Slab:wght@300&family=Square+Peg&display=swap');
:root{
  --nav-font: 'Charis SIL', serif;
  --heading-font:'Charis SIL', serif;
   --p-font:'Roboto Slab', serif;
   --dark-color:#000
   --heading-color: hsl(0, 0%, 7%);
   --date-text-color: hsl(0, 0%, 51%);
   --previous-price-text-color: hsl(0, 98%, 44%);
   --current-price-text-color: hsla(0, 0%, 0%, 0.822);
   --liked-heart-icon-color: hsl(0, 98%, 44%);
   --heart-icon-color: whitesmoke;
   --pricing-font-weight: 800;
   --title-font-weight: 800;
   --date-font-weight: 550;
   /* Cards colors */
   --card-main-color : whitesmoke;
}

/* genral styling */
*{
  padding: 0px;
  margin: 0px;
  user-select: none;
  user-zoom: none;
  box-sizing: border-box;
}
.nav-link{
  font-family: var(--nav-font);
  color:var(--dark-color) ;
}
.dropdown-item{
  font-family: var(--nav-font);
  color: var(--dark-color);
}
.dropdown-item:hover{
  background-color: black;
  color: #fff;
 
}
.btn {
  font-family: var(--nav-font);
}
.btn > a{
  color:black;
  list-style: none;
  text-decoration: none;
}
.btn > a:hover{
  color: #fff;
}
#landing-page{
  height:500px;
  /* background-color: black; */
}
.navbar-brand{
  font-family: var(--nav-font);
  color: var(--dark-color);
}
.nav-link:hover{
  border-bottom: 1px solid black;
  /* transform: scale(1.1); */
  color: var(--dark-color);
  transition: all .25s ease;
}
.text{
  font-family: var(--heading-font);
  font-size: 3em;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--dark-color);
  padding-top:3em ;
}
p{
  font-family: var(--p-font);
  color: var(--dark-color);
 font-size: 1em;
}
#head{
  background-color: #fff;
}
.image{
  width: auto;
}
/* contact section start */
#contact {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
}

.contact-links, .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}


.contact-links {
  background-color: white;
  background:
    radial-gradient(
      circle at 55% 92%, whitesmoke 0 12%, transparent 12.2%
    ), 
    radial-gradient(
      circle at 94% 72%, whitesmoke 0 10%, transparent 10.2%
    ), 
    radial-gradient(
      circle at 20% max(78%, 350px), whitesmoke 0 7%, transparent 7.2%
    ), 
    radial-gradient(
      circle at 0% 0%, whitesmoke 0 40%, transparent 40.2%
    ), 
    #fff;
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
  background-color: whitesmoke;
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 800px) {
  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}

h2 {
  font-family: var(--heading-font);
  color: #000;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(.95, 1);
}


.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}

#icons{
  width: 45px;
  height: 45px;
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #0006);
  transition: 0.2s;
  user-select: none;
  font-size: 1.7em;

}

#icons:hover {
  transform: scale(1.1, 1.1);
}

#icons:active {
  transform: scale(1.1, 1.1);
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #222)
    sepia(0.3);
}

.form-item {
  position: relative;
}

label, input, textarea {
  font-family: var(--heading-font);
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #000;
  font-family: var(--heading-font);
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
  border-radius: 10px;
}

input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #000;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: #000;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: var(--heading-font);
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: clamp(30px, 12vw, 60px);
  }
  
  .links {
    padding-top: 30px;
  }
  
  img {
    width: 38px;
    height: 38px;
  }
}

/* contact section end */

/* media screen start */
@media (max-width:768px) {
  .image{
    display: none;
  }
}
@media (max-width:768px) {
   
  .text{
    padding-top: 5px;
  }
  .forms{
    margin: 0px auto;
  }
  /* .map{
    width: 100px;
  } */
  #map{
    width: 370px;
  }
}
/* media screen end */

.map{
  width: auto;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.8);
 margin: 20px auto;
 border-radius: 10px;
}
#map{
  background-size: cover;
  margin-bottom: 2em;
}



/* footer start */
footer{
  width: 100%;
  height: fit-content;
  background-color: whitesmoke;
  text-decoration: none;
  text-align: center;
 }
 footer a{
  text-decoration: none;
  text-align: center;
  font-family: var(--p-font);
 }

 .navbrand {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 1.9em;
  color: #000;
 }
 h4{
  font-family: var(--heading-font);
  color: var(--dark-color);
  font-weight: bold;
 }
/* footer end */



